<h1>Display A Place</h1>

<div class="row">
	<div class="col-md-12">
		<h4>Show Place for: <%= topic.name %></h4>

		<div class="well">
			Name: <%= place.name %>
		</div>

		<div class="well">
			Address: <%= place.address %>
		</div>

	</div>
</div>

	<form method="GET" action="/places">
		<input type="hidden" name="topicId" value="<%= topic.id %>">
		<button type="submit" class="btn btn-warning">Place Index for <%= topic.name %></button>
	</form>

<hr>

<form method="GET" action="/places/<%= place.id %>/edit">
  <button type="submit" class="btn btn-success">Edit This Place</button>
</form>

<hr>

<form method="POST" action="/places/<%= place.id %>?_method=DELETE">
  <button type="submit" class="btn btn-danger">DELETE This Place</button>
</form>
