<h1>Display A Place</h1>

<div class="row">
	<div class="col-md-4">
		<h4>Show Place for: <%= topic.name %></h4>
		<div class="well">
			Name: <%= place.name %>
		</div>
		<div class="well">
			Address: <%= place.address %>
		</div>
	</div>
	<div class="col-md-8">
		<h4>Street View Side-By-Side</h4>
		<div id="street-view-map"></div>
		<div id="pano"></div>
	</div>
</div>

	<form method="GET" action="/places">
		<input type="hidden" name="topicId" value="<%= topic.id %>">
		<button type="submit" class="btn btn-warning">Place Index for <%= topic.name %></button>
	</form>

<hr>

<form method="GET" action="/places/<%= place.id %>/edit">
  <button type="submit" class="btn btn-success">Edit This Place</button>
</form>

<hr>

<form method="POST" action="/places/<%= place.id %>?_method=DELETE">
  <button type="submit" class="btn btn-danger">DELETE This Place</button>
</form>

<!-- scripts for Street View -->

<script>
  var streetViewPlace = <%- JSON.stringify(place) %>;
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHaB1VXyYTaGD06ve5n966ykzpvp0ot78&callback=initStreetView">
</script>

<script src="/js/script.js"></script>
