<h1>Display A Place</h1>

<div class="container">
	<legend>Show Place for: <%= topic.name %></legend>

	<div class="list-group">
		<label for="name">Name</label>
		<p class="list-group-item" id="name"><%= place.name %></p>
	</div>

	<div class="list-group">
		<label for="address">Address</label>
		<p class="list-group-item" id="address"><%= place.address %></p>
	</div>

</div>

	<form method="GET" action="/places">
		<input type="hidden" name="topicId" value="<%= topic.id %>">
		<button type="submit" class="btn btn-warning">This Topic's Places</button>
	</form>

<hr>

<form method="GET" action="/places/<%= place.id %>/edit">
  <button type="submit" class="btn btn-success">Edit This Place</button>
</form>

<hr>

<form method="POST" action="/places/<%= place.id %>?_method=DELETE">
  <button type="submit" class="btn btn-danger">DELETE This Place</button>
</form>
